<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.whut.platform.business.userTemplate.mapper.UserTemplateMapper">
    <sql id="user_template_fields">
		id,cname,number,userId,templateId,mongoId,createTime,status,viewCount,appId
	</sql>

    <resultMap id="user_templateResultMap" type="UserTemplate">
        <id property="id" column="id" />
        <result property="cname" column="cname"/>
        <result property="number" column="number"/>
        <result property="userId" column="userId" />
        <result property="templateId" column="templateId" />
        <result property="mongoId" column="mongoId"/>
        <result property="createTime" column="createTime"/>
        <result property="status" column="status"/>
        <result property="viewCount" column="viewCount"/>
        <result property="appId" column="appId"/>
    </resultMap>

    <insert id="add" parameterType="UserTemplate"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        user_template(
        <include refid="user_template_fields" />
        )
        VALUES (#{id},#{cname},#{number},#{userId},#{templateId},#{mongoId},#{createTime},#{status},#{viewCount},#{appId});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="totalCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(id)
        FROM user_template
    </select>


    <update id="update" parameterType="UserTemplate">
        UPDATE user_template
        <set>
            <if test="cname != null">cname=#{cname},</if>
            <if test="mongoId != null">mongoId=#{mongoId},</if>
            <if test="viewCount != null">viewCount=#{viewCount},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE ID = #{id};
    </update>

    <update id="updateByNumber" parameterType="UserTemplate">
        UPDATE user_template
        <set>
            <if test="cname != null">cname=#{cname},</if>
            <if test="mongoId != null">mongoId=#{mongoId},</if>
            <if test="viewCount != null">viewCount=#{viewCount},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE userId=#{userId} and number=#{number};
    </update>

    <delete id="delete" parameterType="UserTemplate">
        DELETE FROM user_template
        <where>
            <if test="id != null">ID=#{id}</if>
        </where>
    </delete>

    <select id="get" parameterType="UserTemplate" resultMap="user_templateResultMap">
        SELECT
        <include refid="user_template_fields" />
        FROM user_template WHERE ID=#{id}
    </select>

    <select id="findByCondition" parameterType="map" resultType="map">
        select user_template.*,`user`.`name` userName,template.`name` templateName,template.`url` templateUrl,category.name categoryName
        from user_template
        LEFT JOIN user ON user_template.userId=`user`.id
        LEFT JOIN template ON user_template.templateId=template.id
        LEFT JOIN category ON template.categoryId=category.id
        <where>
            <if test="userId!=null"> user_template.userId=#{userId}</if>
            <if test="number!=null">AND user_template.number=#{number}</if>
            <if test="categoryId!=null">AND category.id=#{categoryId}</if>
            <if test="cname!=null">AND user_template.cname like CONCAT('%','${cname}','%' ) </if>
            <if test="categoryName!=null">AND template.name like CONCAT('%','${categoryName}','%' ) </if>
            <if test="templateId!=null">AND user_template.templateId=#{templateId}</if>
            <if test="status!=null">AND user_template.status=#{status} </if>
            <if test="startTime!=null"><![CDATA[ AND user_template.createTime>=#{startTime}]]></if>
            <if test="endTime!=null"><![CDATA[ AND user_template.createTime<=#{endTime} ]]> </if>
        </where>
    </select>

</mapper>