/* ============================= *
 *  Quick links on project page  *
 * ============================= */

div#quick-links {
    float: right;
    margin-bottom: 1em;
    text-align: center;
    width: 288px;
}

div#quick-links a.button,
div.container a.home {
    padding-left: 3em;
    background-repeat: no-repeat;
    background-position: 1em center;
}

div#quick-links a.download {
    background-image: url('/images/icons/box_download_24.png');
}

div#quick-links a.examples {
    background-image: url('/images/icons/lightbulb_24.png');
    margin-top: 0.4em;
}

div#quick-links a.documentation {
    background-image: url('/images/icons/paper_content_24.png');
    margin-top: 0.4em;
}

div#quick-links a.faq {
    background-image: url('/images/icons/questionmark_24.png');
    margin-top: 0.4em;
}

div.container a.home {
    background-image: url('/images/icons/arrow_left_green_24.png');
    float: right;
}

table.list {
    border-collapse: separate;
    border: solid 1px #bbb;
    background: #ccc;
    border-spacing: 2px;
}

table.list th,
table.list thead td {
    border-width: 0;
    border-right: solid 1px #555;
    border-bottom: solid 1px #555;
    background: #bbb;
    padding: 0.4em 1em;
}

table.list td {
    border-width: 0;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    background: #eee;
    padding: 0.4em 1em;
    vertical-align: text-top;
}

ul.subpages,
ul.subpages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.subpages ul {
    margin-left: 2em;
}

ul.subpages li a,
ul.subpages li span {
    background: #ddd;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    color: #000;
    display: inline-block;
    font-size: 110%;
    margin: 0.2em 0;
    padding: 0.25em 0.6em;
    text-decoration: none;
    text-shadow: 0 0 5px #fff;
}

ul.subpages li a:hover {
    background: #acf;
}

ul.subpages li.active span {
    background: #acf;
}

ul.subpages li li a,
ul.subpages li li span {
    background: #eee;
    font-size: 100%;
}

ul.subpages li li a:hover {
    background: #bdf;
}